<div class="card mb-3 mt-3  border border-primary">
  <div class="card-header text-white fw-bold bg-primary">Courses Management</div>
  <div class="card-body">
    
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th style="display: flex; justify-content: space-between;">
            <div>Description </div>
            <div>
              <span class="badge bg-primary pointer hover-badge"
              routerLink="/courses/add"
              ><i class="fa-solid fa-plus"></i> Add Course</span>
              <!-- <button>Add Task</button> -->
            </div>
          </th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of courses; let i = index">
          <td class="fw-bold">{{i+1}}</td>
          <td class="fw-bold">{{item.name}}</td>
          <td>{{item.description}}</td>
          <td
          class="fw-bold"
            [ngClass]="item.fee > 0 ? 'text-primary' : 'text-success'"
          >{{item.fee > 0 ? (item.fee | number | currencyvnd) : 'Free'}}</td>

          <td>
            <div class="btn-group" style="display: flex; justify-content: center;" role="group" aria-label="Basic example">
              <button 
                [routerLink]="['/courses', item.id, 'edit']"
                type="button" class="width-normal btn btn-outline-warning btn-sm"
                
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                (click)="onDeleteCourse(item.id)"
                type="button" class="width-normal btn btn-outline-danger btn-sm">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>